<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="http://code.angularjs.org/1.4.3/angular.min.js"></script>
</head>
<body ng-controller="appC">


    <div ng-repeat="book in books">
        {{ book.bookAuthorAndName }}
    </div>

    <ul>
        <li ng-cloak ng-repeat="book in books">
            {{ book.bookAuthorAndName }}
        </li>
    </ul>


<script src="js/angrest.js"></script>
</body>
</html>